[mysqld]
port = 3307
datadir = /data/mysql/data
socket = /data/mysql/data/mysql.sock
skip-name-resolve
user = mysql
symbolic-links=0
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
character-set-server = gbk
character_set_client = gbk

default-storage-engine = INNODB
innodb_log_file_size = 512M
innodb_log_buffer_size = 32M
innodb_buffer_pool_size = 32G
max_connections = 2000
table_open_cache = 8000
max_connect_errors = 1000
max_allowed_packet = 1G
wait_timeout = 86400
max_heap_table_size = 256M
read_rnd_buffer_size = 32M
sort_buffer_size = 32M
join_buffer_size = 32M

server-id = 56
log_bin = /data/mysql/data/mysql-bin.log
expire_logs_days = 10
binlog_cache_size = 32M
expire_logs_days = 10

[mysqld_safe]
open-files-limit = 8192

[mysqldump]
quick
max_allowed_packet = 32M

[mysql]
default-character-set = gbk

[client]
default-character-set = gbk
socket = /data/mysql/data/mysql.sock
